
    <style>
        .header {
            height: 100px;
            width: 100%;
            background-color: rgb(63, 67, 126);
        }

        .option {
            float: left;
            width: 150px;
            border: 1px solid yellowgreen;
            text-align: center;
            margin-top: 5px;
            margin-left: 10px;
            color: rgb(187, 214, 31);
        }

        .option-cont {
            list-style-type: none;
            padding: 0;
            display: none;
        }

        .option-cont li {
            background-color: rgb(90, 73, 245);
            color: rgb(223, 235, 64);
            border: 1px solid #4aabfa;
            padding: 10px;
        }

        .active {
            display: block;
        }
    </style>
