
p{
  font-family:  ;
  color:  ;
  font-weight: ;
  font-size:  ;
  text-align:  ;
  background-color:  ;

  max-width:  ;
  float:  ;
  clearfix:  ;
  border-radius:  ;
  background:linear-gradient  ;
  line-height:
  hover:  ;
  active:  ;
  animation:  ;
  @media:  ;

}
